<h6>Add new comment</h6>
<%= form_for @comment do |f| %>
  <%= f.hidden_field :post_id %>
  <p>Author: <%= f.text_field :author %></p>
  <p>Content: <%= f.text_area :content %></p>
  <p><%= f.submit "Submit" %>
<% end %>
