<h2>Holly's BlogIt</h2>
<% @posts.each do |post| %>
  <div>
    <%= link_to post.subject, post %>
    <%= post.category.present? ? post.category : 'General' %>
    Posted by: <%= post.author + " on " +
      post.created_at.strftime("%Y-%m-%d") %> (Num: <%= post.comments.count %>)
    <%= link_to "Edit", edit_post_path(post.id) %>
    | <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
<%= link_to "New Post", new_post_path %>
