<div class="container">
  <h1>Articles in JSON's Journal Blog</h1>
  <ul class="list-inline">
    <li><%= link_to 'New Article', new_article_path, class: 'btn btn-primary' %></li>
    <li><%= link_to 'Home', root_path, class: 'btn btn-primary' %></li>
  </ul>
  <% @articles.each do |article| %>
  <div class="col-md-3 blog-blurb">
    <h2><%= link_to article.title, article_path(article)  %></h2>
    <h4><small><%= simple_format(article.text) %></small></h4>
    <ul class="list-inline">
      <li><%= link_to 'Show', article_path(article) %></li>
      <li><%= link_to 'Edit', edit_article_path(article) %></li>
      <li><%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
  </div>
  <% end %>
  <hr>
</div>
