<div class="container">
  <div class="col-md-8">
    <h1><%= @article.title %><small><%=  %></small></h1>
    <div class="article-content"><%= simple_format(@article.text)  %></div>
  </div>
  <div class="col-md-4">
    <h3>Tags:</h3>
    <% @article.tags.each do |tag| %>
      <a class="btn btn-info tag" href="#"><%= tag.label %></a>
    <% end %>
    <%= render 'tags/form' %>
  </div>
  
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Comments</h2>
      <%= render @article.comments %>    
    </div>
    <div class="col-md-4">
      <h2>Add a comment:</h2>
      <%= render 'comments/form' %>      
    </div>
  </div>
  <hr>
  <ul class="list-inline">
    <li><%= link_to 'Back', articles_path, class: 'btn btn-primary' %></li>
    <li><%= link_to 'Edit', edit_article_path, class: 'btn btn-primary' %></li>
    <li><%= link_to 'Home', root_path, class: 'btn btn-primary' %></li>
  </ul>
</div>