<h1><%= @post.title %></h1>
<h2><%= @post.author %></h2>
<p><%= @post.content %></p>

<h3>comments</h3>

<% @post.comments.each do |comment| %>
  <h4><%= comment.author %></h4>
  <p><%= comment.content %></p>
<% end %>

<h3>make a comment</h3>

<%= form_for @comment do |f| %>
  <%= f.hidden_field :post_id %>
  <%= f.label :author %>
  <%= f.text_field :author %>
  <%= f.label :content %>
  <%= f.text_field :content %>

  <%= f.submit %>
<% end %>

<%= link_to "All posts", posts_path %>