<%= form_for @post do |f| %>

<p>
  <%= f.label "Title of Post" %>
  <%= f.text_field :post_title %>
</p>

<p>
  <%= f.label "Post Content" %>
  <%= f.text_field :post_content %>
</p>

<p>
  <%= f.label "Your Username" %>
  <%= f.text_field :post_user %>
</p>


  <%= f.submit %>

<% end %>


