<%= notice %>

<h2><%= @post.post_title %></h2>


<article>
  <p> <%= @post.post_content %><p>
  <p class="details">created on <%= @post.created_at.to_formatted_s(:long_ordinal) %> | in: <%= @post.category %></p>
</article>


<p>
  <%= link_to "back home", posts_path %> |
  <%= link_to "edit this", edit_post_path(params[:id]) %>
</p>

<h3> comments </h3>

  <% @post.comments.each do |comment| %>
    <p><%= comment.comment_text %> by <%= comment.comment_user %> at <%= comment.created_at %>
     | <%= link_to 'delete this', comment, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% end %>


<h3> add a comment </h3>

<%= form_for @comment do |f| %>
  <p>
  <%= f.label "Enter your comment" %>
  <%= f.text_field :comment_text %>
  </p>
  <p>
  <%= f.label "Enter your name" %>
  <%= f.text_field :comment_user %>
  </p>
  <%= f.hidden_field :post_id %>
  <%= f.submit "Submit Comment" %>
<% end %>

